node_modules

# macOS resource forks from compressed files.
**/__MACOSX/

# macOS folder config files.
**/.DS_Store

# macOS volume root files.
/.fseventsd
/.Spotlight-V100
/.Trashes
/.VolumeIcon.icns
